[Desktop Entry]
Type=Application
Name=Copi
Comment=Clipboard sync tray app
Exec=copi-linux-gui
Icon=com.cyole.copi
Terminal=false
Categories=Utility;
